
.applyColor {
    &.color0 {
        color: black;
    }
    
    &.color1 {
        color: red;
    }
    
    &.color2 {
        color: orange;
    }
    
    &.color3 {
        color: green;
    }
}
