<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ restaurante?.nombre }}
            </mat-panel-title>
            <mat-panel-description>
                <mat-icon class="applyColor" [class]="{
                    'color0': ratingsService.checkColor(0, ratingsService.getValoracionMedia(restaurante!)), 
                    'color1': ratingsService.checkColor(1, ratingsService.getValoracionMedia(restaurante!)), 
                    'color2': ratingsService.checkColor(2, ratingsService.getValoracionMedia(restaurante!)), 
                    'color3': ratingsService.checkColor(3, ratingsService.getValoracionMedia(restaurante!))}" 
                [fontIcon]="ratingsService.getValoracionIconName(ratingsService.getValoracionMedia(restaurante!))"></mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="getPrecios()">
            <span>Precio: </span>
            {{ getPrecios() }}
        </div>
        <div>
            <span>Tu valoración</span>
            <mat-icon [fontIcon]="ratingsService.getValoracionIconName(3)" (click)="rate(3)" class="clickable color3" [class]="{'applyColor': ratingsService.checkValoracionSelected(3, restaurante!)}"></mat-icon>
            <mat-icon [fontIcon]="ratingsService.getValoracionIconName(2)" (click)="rate(2)" class="clickable color2" [class]="{'applyColor': ratingsService.checkValoracionSelected(2, restaurante!)}"></mat-icon>
            <mat-icon [fontIcon]="ratingsService.getValoracionIconName(1)" (click)="rate(1)" class="clickable color1" [class]="{'applyColor': ratingsService.checkValoracionSelected(1, restaurante!)}"></mat-icon>
            <mat-icon [fontIcon]="ratingsService.getValoracionIconName(0)" (click)="rate(0)" class="clickable color0" [class]="{'applyColor': ratingsService.checkValoracionSelected(0, restaurante!)}"></mat-icon>
        </div>
        <div *ngIf="restaurante?.cartaLink">
            <span>Carta: </span>
            <a (click)="openCarta()">Ver carta</a>
        </div>
        <div *ngIf="restaurante?.googleMapLink || restaurante?.direccion">
            <span>Dirección: </span>
            {{ restaurante?.direccion }}</div>
        <div *ngIf="restaurante?.googleMapLink || restaurante?.direccion">
            <span>Google Maps: </span>
            <a (click)="openGoogleMaps()">Abrir mapa</a>
        </div>
        <div *ngIf="showMap && !!mapOptions">
            <span>mapa integrado</span>
            <div style="height: 300px;"
                leaflet 
                [leafletOptions]="mapOptions"
                [leafletLayers]="mapLayers">
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>
